@import 'reset.css';


#usersData{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
.card{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

}

img{
    grid-row: span 2;
}

h2,
h3,
h4{
    padding: 0;
    margin: 0;
}